{% extends "base.html" %} {% block content %}
<div class="container mt-5">
  <h1>Welcome {{ username }}!</h1>
  <a class="btn btn-danger" href="{{ url_for('logout') }}">LogOut!</a>

  <a class="btn btn-info" href="{{url_for('user_profile', username=username)}}"
    >View Profile</a
  >

  {% if not only %}
  <a href="{{ url_for('dashboard_following') }}" class="btn btn-primary">
    Show Blogs from Followed Users
  </a>
  {% else %}
  <a href="{{ url_for('dashboard') }}" class="btn btn-primary">
    Show Blogs from All Users
  </a>
  {% endif %}
  <form action="{{url_for('search')}}" method="POST">
    <input
      class="mt-4"
      type="search"
      placeholder="Search for Blogs"
      name="search_query"
    />
    <button type="submit" class="btn btn-outline-success">Search</button>
  </form>

  <form action="{{url_for('user_search')}}" method="POST">
    <input
      class="mt-2"
      type="search"
      placeholder="Search for Users"
      name="search_query"
    />
    <button type="submit" class="btn btn-outline-success">Search</button>
  </form>

  <a class="btn btn-primary mt-3" href="{{ url_for('create_blog' )}}"
    >Create a New Blog!!</a
  >
  <div class="row">
    {% for blog in blogs %}
    <div class="col-md-4">
      <div class="card mt-3">
        {% if blog.image_url %}
        <img
          src="{{ url_for('static', filename='images/' + blog.image_url ) }}"
          alt="This is supposed to be blog image"
          class="card-img-top"
        />
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ blog.title }}</h5>
          <a href="{{ url_for('blog', id=blog.id)}}" class="btn btn-primary"
            >Read More</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div>
  {% if users|length>0 %}
  <h1>Search results for Users</h1>
  <ol>
    {% for user in users %}
    <li>
      <a href="{{url_for('user_profile', username=user.username)}}">
        {{user.username}}</a
      >
    </li>
    {% endfor %}
  </ol>
  {% endif %}
</div>

{% endblock %}
